<h1>Welcome to <span class="glyphicon glyphicon-earphone" aria-hidden="true">Boockers!!</span> </h1>

    <div class="row">
        <div class="col-xs-3 col-xs-offset-9" style="margin-left:75%;">
        <p style="font-size:13px;">CopyRight Infratop.inc</p>
        </div>
    </div>
